.button-bar {
	display: block;
	margin-top: 30px;
}

button {
	position: relative;
	top: 0px;
	height: 24px;
	min-width: 60px;
	text-align: center;
	padding: 0px 4px;
	font-size: 11px;
	top: 0px;
}

button:active {
	top: 1px;
}

button, .button {
	border: solid 1px #888888;
	background: linear-gradient(#E7EEF6, #FCFCFC, #E7EBF4);
	text-shadow: 1px 1px 0px #FFF;
	cursor: pointer;
	color: #000000;
}

button:hover, .button:hover {
	border-color: #009300;
	background: linear-gradient(#D4EDD0, #F5FCF4, #D2ECCF);
	color: #009300;
}