.dialog {
	position: relative;
	xdisplay: inline-block;
	width: 70vh;
	xheight: 84vh;
	margin: auto;
	margin-top: 8vh;
	background: white;
	box-shadow: 0px 0px 16px #A0A0A0;
	z-index: 10000;
}

.dialog.hidden {
	display: none;
}