.led {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-left: 20px;
	vertical-align: bottom;
	background-image: url(@image/led-red-off);
	background-size: cover;
}

.led.on {
	background-image: url(@image/led-red-on);
}

.led.off {
	background-image: url(@image/led-red-off);
}