body {
	position: relative;
	width: 100vw;
	height: 100vh;
	xmargin: 0 20px;
	overflow: hidden;
	xbackground: linear-gradient(to bottom right, #0c753c, #FFFFFF);
	background-color: #0c753c;
	user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	xmargin: 0 20px;
	xpadding: 0 20px;
}

h1 {
	font-family: "Zegoe UI";
	font-family: "Calibri";
	xfont-family: "Lucida Console";
	xfont-family: "Verdana";
	color: #FFF;
	font-size: 48px;
	font-weight: light;
	margin-left: 10px;
}

.user {
	position: absolute;
	width: 300px;
	height: 100px;
	top: 30px;
	right: 30px;
	height: 100px;
}

.user img {
	float: right;
	margin-left: 20px;
	height: 60px;
}

.user h2 {
	font-family: Calibri;
	font-size: 26px;
	color: #FFF;
	text-align: right;
}

.user h3 {
	font-family: Calibri;
	font-size: 18px;
	color: #FFF;
	text-align: right;
}

.panorama {
	position: absolute;
	height: 800px;
	background-color: #0c753c;
	cursor: pointer;
	padding: 40px 0px;
	white-space: nowrap;
}

.panorama img.section {
	margin-top: 4px;
}

.panorama .section {
	xposition: relative;
	display: inline-block;
	margin-top: 0px;
	height: 528px;
	margin-right: 60px;
}

.panorama .section:last-child {
	margin-right: 0px;
}

.panorama .section .title {
	font-size: 24px;
	margin: 0 0 10px 4px;
}

.panorama .section .app {
	display: inline-block;
	float: left;
	width: 64px;
	height: 64px;
	margin: 4px;
	border: solid 1px #E6E6E6;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.3);
}