.light-dimmer {
	
}

.light-dimmer .caption {
	height: 10vh;
	line-height: 10vh;
}

.light-dimmer img {
	cursor: pointer;
}

.light-dimmer .caption img {
	display: inline-block;
	position: absolute;
	height: inherit;
	vertical-align: top;
}

.light-dimmer .caption h1 {
	display: inline-block;
	width: 100%;
	height: inherit;
	text-align: center;
	color: orange;
	margin: 0;
	text-align: center;
	font-size: 5vh;
}

.light-dimmer.dialog .caption .switch {
	position: absolute;
	top: 2vh;
	right: 2vh;
	width: 6vh;
	height: 6vh;
	border-radius: 3vh;
	background-color: lightgray;
}

.light-dimmer.dialog .caption .switch.active {
	background-color: orange;
}

.light-dimmer .arrow {
	xheight: 11vh;
}

.light-dimmer .arrow img {
	display: block;
	width: 12vh;
	height: 12vh;
	margin: 2vh auto;
}

.light-dimmer .body {
	padding: 15vh 0;
	border-top: solid 2px #C0C0C0;
	border-bottom: solid 2px #C0C0C0;
}

.light-dimmer .body .container {
	width: 80%;
	margin: 0 auto;
}

.light-dimmer .body h2 {
	margin-bottom: 20px;
	color: orange;
	font-size: 18px;
	font-weight: normal;
}

.light-dimmer .body .slider {
	width: 100%;
}

.light-dimmer .footer {
	height: 10vh;
}
