.page .top-menu a[href='@link/contact-switch'] {
	background-color: #080;
	color: #FFF;
}

.display {
	display: inline-block;
	vertical-align: middle;
	width: 220px;
	font-size: 18px;
	font-weight: normal;
}

.led {
	display: inline-block;
	vertical-align: middle;
}
