<?xml version="1.0" encoding="UTF-8"?>
<app>
	<managed-classes>
		<app interface="js.tiny.container.core.App" class="js.hera.hub.Application" />

		<dao interface="js.hera.hub.dao.Dao" class="js.hera.hub.dao.DaoImpl" type="PROXY" scope="APPLICATION" />

		<service interface="js.hera.hub.Service" class="js.hera.hub.impl.ServiceImpl" />
		<message-broker interface="js.hera.hub.MessageBroker" class="js.hera.hub.impl.MessageBrokerImpl" />

		<host-manager class="js.hera.hub.impl.HostManager" />
		<jmx-server class="js.hera.hub.util.JmxServer" />
		<net-interfaces class="js.hera.hub.util.NetInterfaces" />
		
		<push-stream class="js.hera.hub.impl.DeviceEventStream" interface="js.tiny.container.net.EventStream" scope="LOCAL" />
	</managed-classes>
</app>