<?xml version="1.0" encoding="UTF-8"?>
<app package="js.hera.hub">
	<binding bind="Application" />
	<binding bind="dao.Dao" to="dao.DaoImpl" />
	<binding bind="Service" to="impl.ServiceImpl" />
	<binding bind="MessageBroker" to="impl.MessageBrokerImpl" />

	<binding bind="impl.HostManager" />
	<binding bind="util.JmxServer" />
	<binding bind="util.NetInterfaces" />

	<binding bind="js.tiny.container.net.EventStream" to="impl.DeviceEventStream" />
</app>
